.card {
    background: white;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 25px;
    width: 900px;
}

.card h2 {
    margin-top: 0;
    font-size: 22px;
    font-weight: 600;
}

.input {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 18px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(to right, #a855f7, #2563eb);
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    opacity: 0.9;
}