.purplebar {
    background: linear-gradient(to right, #8b5cf6, #2563eb);
    padding: 15px;
    color: white;
    font-weight: 600;
    border-radius: 12px 12px 0 0;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    margin-bottom: 25px;
}

.taskbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px;
    border-bottom: 1px solid #eee;
}


.taskinfo h4 {
    margin: 0;
    font-size: 18px;
}


.taskinfo p {
    margin: 4px 0 0;
    color: #777;
    font-size: 14px;
}


.actions button {
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    margin-left: 8px;
    color: white;
}


.editbtn {
    background: #3b82f6;
}

.deletebtn {
    background: #ef4444;
}


