.stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}


.statbox {
    flex: 1;
    background: white;
    margin: 0 10px;
    padding: 25px 10px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.07);
}


.statnumber {
    font-size: 28px;
    font-weight: 700;
}