
.container {
    max-width: 900px;
    margin: 40px auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container h1 {
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    color: #1e1e1e;
    margin-bottom: 5px;
}

.container p {
    text-align: center;
    color: #666;
    margin-bottom: 30px;
}